<header>
    <h1 class="site-title">Cooking with Keaton</h1>
    <nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="index.html">Home</a></li>
        <li class="navitem"><a href="display.html">View Recipes</a></li>
        <li class="navitem right"><a href="insert.html">Create your own</a></li>
    </ul>
    </nav>
</header>