<header>
    <h1 class="site-title">Cooking with Keaton</h1>
    <nav class="navbar">
    <ul class="navlist">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/display">View Recipes</a></li>
        <li class="navitem right"><a href="/insert">Create your own</a></li>
    </ul>
    </nav>
</header>