<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cooking with Keaton</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="recipeTemplate.js"></script>
    <script src="/script.js" charset="utf-8" defer></script>
  </head>
  <body>
    {{{body}}}
    <footer>
      <!-- <span class="footer">Connect:</span></br> -->
      <!-- <span class="email">cookingwithkeaton@gmail.com</span> -->
      Cooking with Keaton &copy; 2017
    </footer>
  </body>
</html>
