{{> header}}

<main class="home-page">
    <div class="title-container">
    <h2>The best place to find and submit wonderfully mediocre recipes</h2>
    </div>

    <div id="site-description">
    <h3>About Cooking w/ Keaton:</h3>
    <p>
        Finding recipies is hard. Sorting through them is even harder. We made a website to
        fix that problem. Using cutting-edge technology and some luck, this website filters
        out recipies based on many important factors such as: cook-time, etc. On top of all
        that slick functionality, you can also submit your
        own recipies and get your foot in the door for your future Food Channel™ special!
        Our team would definitely use this website if it were real and I think that is what really counts.
    </p>
    </div>

    <h3 id="selected-recipes-header">Selected Recipes:</h3>
    <div class="recipe-holder">
    <!-- Selected recipes (3 random ones) -->
        {{#each .}}
            {{#if this.name}}
                {{> recipe}}
            {{/if}}
        {{/each}}
    </div>


</main>
