{{> header}}

<main class="insert-page">
    <div class="title-container">
        <h3 class="recipe-container">Create your own Recipe</h3>
    </div>

    <form action="#" method="get">
      <table>
        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-username-input">Your Name:</label>
            </td>
            <td>
              <input type="text" id="post-username-input"></input>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-name-input">Recipe Name:</label>
            </td>
            <td>
              <input type="text" id="post-name-input"></input>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-cooktime-input">Cooking Time:</label>
            </td>
            <td>
              <select id="post-cooktime-input" name="drop-cooktime">
                  <option selected value="">Select</option>
                  <option>Under 10 minutes</option>
                  <option>10 to 30 minutes</option>
                  <option>30 minutes to 1 hour</option>
                  <option>Over 1 hour</option>
                </select>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-mealtime-input">Meal Time:</label>
            </td>
            <td>
              <select id="post-mealtime-input" name="drop-mealtime">
                  <option selected value="">Select</option>
                  <option>Breakfast</option>
                  <option>Lunch</option>
                  <option>Dinner</option>
                </select>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-cuisine-input">Cuisine:</label>
            </td>
            <td>
              <select id="post-cuisine-input" name="drop-cuisine">
                  <option selected value="">Select</option>
                  <option>American</option>
                  <option>Asian</option>
                  <option>Italian</option>
                  <option>Mexican</option>
                  <option>Other</option>
                </select>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
              <label for="post-instructions-input">Ingredients:</label>
            </td>
            <td>
              <textarea rows="4" cols="50" id="post-ingredients-input" name="textarea-instructions" placeholder="Write up the ingredients for your recipe here!"></textarea>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
                <label for="post-instructions-input">Instructions:</label>
            </td>
            <td>
              <textarea rows="6" cols="50" id="post-instructions-input" name="textarea-instructions" placeholder="Write up the instructions for your recipe here!"></textarea>
            </td>
          </div>
        </tr>

        <tr>
          <div class="post-input-element">
            <td>
                <label for="post-name-input">Image URL:</label>
            </td>
            <td>
              <input type="text" id="post-url-input" size=50></input>
            </td>
          </div>
        </tr>

        <tr>
          <td>
            <button id="insert-submit-button" type="submit" value="Submit">Submit</button>
          </td>
          <td>
            <button id="insert-reset-button" type="reset" value="Reset">Reset</button>
          </td>
        </tr>

      </table>

      {{!-- <div class="post-input-element">
        <label for="post-numingr-input">Number of Ingredients:</label>
        <input type="number" min="0" id="post-numingr-input">
      </div> --}}



    </form>
  </main>
