{{> header}}

<main class="insert-page">
    <h2>Create your own recipe.</h2>

    {{!-- <form action="#" method="get"> --}}
      <div class="post-input-element">
        <label for="post-username-input">Your Name:</label>
        <input type="text" id="post-username-input"></input>
      </div>

      <div class="post-input-element">
        <label for="post-name-input">Recipe Name:</label>
        <input type="text" id="post-name-input"></input>
      </div>

      {{!-- <div class="post-input-element">
        <label for="post-numingr-input">Number of Ingredients:</label>
        <input type="number" min="0" id="post-numingr-input">
      </div> --}}

      <div class="post-input-element">
        <label for="post-cooktime-input">Cooking Time:</label>
        <select id="post-cooktime-input" name="drop-cooktime">
            <option selected value="">Select</option>
            <option>Under 10 minutes</option>
            <option>10 to 30 minutes</option>
            <option>30 minutes to 1 hour</option>
            <option>Over 1 hour</option>
          </select>
      </div>

      <div class="post-input-element">
        <label for="post-mealtime-input">Meal Time:</label>
        <select id="post-mealtime-input" name="drop-mealtime">
            <option selected value="">Select</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
      </div>

      <div class="post-input-element">
        <label for="post-cuisine-input">Cuisine:</label>
        <select id="post-cuisine-input" name="drop-cuisine">
            <option selected value="">Select</option>
            <option>American</option>
            <option>Asian</option>
            <option>Italian</option>
            <option>Mexican</option>
            <option>Other</option>
          </select>
      </div>

      <div class="post-input-element">
        <label for="post-instructions-input">Ingredients:</label>
        <br />
        <textarea rows="4" cols="50" id="post-ingredients-input" name="textarea-instructions" placeholder="Write up the ingredients for your recipe here!"></textarea>

      </div>

      <div class="post-input-element">
        <label for="post-instructions-input">Instructions:</label>
        <br />
        <textarea rows="4" cols="50" id="post-instructions-input" name="textarea-instructions" placeholder="Write up the instructions for your recipe here!"></textarea>

      </div>

      <div class="post-input-element">
        <label for="post-name-input">Image URL:</label>
        <input type="text" id="post-url-input"></input>
      </div>


      <button id="submit-button" type="submit" value="Submit">Submit</button>
      <button id="reset-button" type="reset" value="Reset">Reset</button>
    {{!-- </form> --}}
  </main>

  <footer>

  </footer>