/*****GENERAL*****************************************************************/

body {
  font-family: courier, sans-serif;
  background-color: PapayaWhip;
  padding: 10px;
  margin: 10px;
  overflow-x: hidden;
}

/*****HEADER******************************************************************/

.site-title {
  text-align: center;
  background-color: #BFD8D2;
  color: #DF744A;
  font-size: 60px;
  font-weight: 400px;
  padding: 30px;
  margin: 0px;
  font-family: courier new;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navlist {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DF744A;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navitem {
  color: black;
  display: inline-block;
  /*float: left;*/
  height: 20px;
  padding: 20px;
}

.navitem :link {
  text-decoration: none;
  color: white;
  font-family: courier new;
}

.navitem a:hover {
  color: black;
  /*box-shadow: inset 000 25px Papayawhip;*/
  background-color: Papayawhip;
  border-radius: 5px;
  padding: 5px;
}

.navitem a:visited {
  color: black;
  /*box-shadow: inset 000 25px Papayawhip;*/
}

/*****HOME PAGE SPECIFIC CSS***********************************************/
p {
  padding: 0px 40px;
  font-size: 1.2em;
}

/*****DISPLAY PAGE SPECIFIC CSS***********************************************/

/**** Filter ****/
.filter {
	display: flex;
	/*position: absolute;*/
	top: 140px;
}

.filter h4 {
	display: flex;
	font-family: courier new;
	padding-left: 40px;
	font-weight: bold;
	color: #631880;
}

.search-button {
	max-height: 30px;
	position: relative;
	right: -150px;
	height: 27px;
	width: 90px;
	font-size: medium;
	top: -4px;
	border-radius: 5px;
	background-color: #ffefd5;
	border-color:#df744a;
	border-style: groove;
	font-family: courier;
	color: #A239CA;
}

.filter-check {
	font-family: courier;
	position: relative;
	top: -3px;
	right: -40px;
	height: 25px;
	text-indent: 3px;
	border-radius: 5px;
	color: #A239CA;
}

.label {
	font-weight: bolder;
	color: #631880;
}

.filter-text {
	position: relative;
	right: -20px;
	border-radius: 5px;
	height: 25px;
	top: -3px;
	text-indent: 3px;
	font-family: courier;
	color: #A239CA;
}

.filter-input {
	border-radius: 5px;
	position: relative;
	top: -2px;
	text-indent: 5px;
	font-family: courier;
	color: #A239CA;
}


/****        ****/

.recipe-image-container img {
  max-height: 240px;
  max-width: 300px;
  vertical-align: center;
  font-family: courier new;
  font-weight: lighter;
  border-radius: 3%;
}

.recipe-info-container {
  width: 100%; //position: relative;
  margin-top: 10px; //	border-style: double;
}

/* Each recipe post */

.recipe {
  border-style: double;
  border-color: white;
  display: inline-block;
  vertical-align: top;
  height-max: 600px;
  width: 300px;
  margin: 10px;
  padding: 10px; //	border-radius: 5%;
}

h3 {
  color: #BFD8D2;
  font-size: 50px;
  /*//text-shadow*/
  /*-1px -1px 0 #DF744A, 1px -1px 0 #DF744A, -1px 1px 0 #DF744A, 1px 1px 0 #DF744A;*/
  padding: 5px;
  margin: 5px;
}

.recipe-title h4 {
  color: #DF744A;
}

.Ingr {
  color: rgb(60, 60, 60);
  font-family: Verdana;
  font-size: small;
  font-weight: bold;
}

.steps {
  color: rgb(60, 60, 60);
  font-family: Verdana;
  font-size: small;
  font-weight: bold;
}

.recipe-mealtime {
  background: rgba(255, 165, 0, 0.8);
  border-radius: 8%;
  margin: 2px;
  color: white;
  padding: 2px;
  font-family: 'Trebuchet MS';
  font-size: small;
}

.recipe-cuisine {
  background: rgba(255, 99, 71, 0.8);
  border-radius: 8%;
  color: white;
  font-family: 'Trebuchet MS'; //good for windowws and macs
  font-weight: lighter;
  font-size: small;
  padding: 2px;
  margin: 2px;
}

.recipe-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Display Recipies */

.title-container {
  color: #A239CA;
  font-family: courier new;
  text-align: center;
  font-size: 2em;
  margin: 10px;
  padding: 5px;
}

h4 {
  font-family: verdana;
  color: rgb(60, 60, 60);
  font-size: 15px;
  font-weight: bolder;
  text-align: left;
}

/*****INSERT PAGE SPECIFIC CSS***********************************************/

.insert-page h2{
  color: #BFD8D2;
  text-decoration:underline;
  font-family: courier new;
}

.post-input-element {
  color:rgb(60,60,60);
  //font-family:verdana;
  font-family:courier new;
}

.post-input-element input{
  border:1px solid #aaa;
}

textarea{
  color:rgb(66, 66, 66);
}

button[type=submit]{
  color:white;
  background-color: #DF744A;
  cursor:pointer;
  border:1px solid #DF744A;
}

button[type=reset]{
  background-color:#DCDCDC;
  color:white;
  cursor:pointer;
  border:1px solid #DCDCDC;
}

table {
  margin: 10px;
  padding: 10px;
  text-align: left;
  /*display: inline-block;*/
}

select {
  width: 150px;
}

#insert-submit-button {
  padding: 10px 20px;
  margin-top: 15px;
}

#insert-reset-button {
  padding: 10px 20px;
  margin-top: 15px;
}

/*****FOOTER******************************************************************/

footer {;
  color: #A239CA;
  font-family: courier new;
  text-align: center;
  margin: 10px 40px;
  padding: 10px;
  /*width: 100%;*/
  /*position: relative;*/
  /*display: inline;*/
  background-color: #BFD8D2;
  border-radius: 5px;
  /*CHANGE*/
}
